In [ ]:
pip install gitpython

In [10]:
from git import Repo

def clone_github_repository(repo_url, clone_path):
    repo = Repo.clone_from(repo_url, clone_path)
    print(f"Repository cloned to: {clone_path}")
    return repo

if __name__ == "__main__":
    owner = "PhonePe"
    repo = "pulse"
    repo_url = f"https://github.com/{owner}/{repo}.git"
    clone_path = r"C:\Users\Soujanya\Downloads\PhonePe"# Set the path where the repository will be cloned

    clone_github_repository(repo_url, clone_path)

Repository cloned to: C:\Users\Soujanya\Downloads\PhonePe

In [11]:
import os
import json

def find_all_json_files(folder_path):
    json_files = []
    for root, _, files in os.walk(folder_path):
        for file_name in files:
            if file_name.endswith(".json"):
                file_path = os.path.join(root, file_name)
                json_files.append(file_path)
    return json_files

def parse_json_file(file_path, state, year=None):
    with open(file_path, "r", encoding="utf-8") as json_file:
        data = json.load(json_file)
    data["state"] = state
    if year is not None:
        data["year"] = year
    return data

if __name__ == "__main__":
    clone_path = r"C:\Users\Soujanya\Downloads\PhonePe\data\aggregated\user\country\india"
    years = ["2018", "2019", "2020", "2021", "2022"]
    
    json_files_list = []

    # Fetch all state directories within the "state" subdirectory
    state_directories = os.listdir(os.path.join(clone_path, "state"))

    for state in state_directories:
        state_path = os.path.join(clone_path, "state", state)
        for year in years:
            year_path = os.path.join(state_path, year)
            json_files = find_all_json_files(year_path)
            json_files_list.extend((file_path, state, year) for file_path in json_files)

    all_data = []
    for file_path, state, year in json_files_list:
        parsed_data = parse_json_file(file_path, state, year)
        all_data.append(parsed_data)

    output_aggregated_file = os.path.join(clone_path, "complete_aggregated_user.json")
    with open(output_aggregated_file, "w", encoding="utf-8") as json_output:
        json.dump(all_data, json_output, indent=4)

    print(f"Data saved to: {output_aggregated_file}")

Data saved to: C:\Users\Soujanya\Downloads\PhonePe\data\aggregated\user\country\india\complete_aggregated_user.json

In [12]:
import os
import json

def find_all_json_files(folder_path):
    json_files = []
    for root, _, files in os.walk(folder_path):
        for file_name in files:
            if file_name.endswith(".json"):
                file_path = os.path.join(root, file_name)
                json_files.append(file_path)
    return json_files

def parse_json_file(file_path, state, year=None):
    with open(file_path, "r", encoding="utf-8") as json_file:
        data = json.load(json_file)
    data["state"] = state
    if year is not None:
        data["year"] = year
    return data

if __name__ == "__main__":
    clone_path = r"C:\Users\Soujanya\Downloads\PhonePe\data\aggregated\transaction\country\india"
    years = ["2018", "2019", "2020", "2021", "2022"]
    
    json_files_list = []

    # Fetch all state directories within the "state" subdirectory
    state_directories = os.listdir(os.path.join(clone_path, "state"))

    for state in state_directories:
        state_path = os.path.join(clone_path, "state", state)
        for year in years:
            year_path = os.path.join(state_path, year)
            json_files = find_all_json_files(year_path)
            json_files_list.extend((file_path, state, year) for file_path in json_files)

    all_data = []
    for file_path, state, year in json_files_list:
        parsed_data = parse_json_file(file_path, state, year)
        all_data.append(parsed_data)

    output_aggregated_file = os.path.join(clone_path, "complete_aggregated_trans.json")
    with open(output_aggregated_file, "w", encoding="utf-8") as json_output:
        json.dump(all_data, json_output, indent=4)

    print(f"Data saved to: {output_aggregated_file}")

Data saved to: C:\Users\Soujanya\Downloads\PhonePe\data\aggregated\transaction\country\india\complete_aggregated_trans.json

In [21]:
import os
import json

def find_all_json_files(folder_path):
    json_files = []
    for root, _, files in os.walk(folder_path):
        for file_name in files:
            if file_name.endswith(".json"):
                file_path = os.path.join(root, file_name)
                json_files.append(file_path)
    return json_files

def parse_json_file(file_path, state, year=None):
    with open(file_path, "r", encoding="utf-8") as json_file:
        data = json.load(json_file)
    data["state"] = state
    if year is not None:
        data["year"] = year
    return data

if __name__ == "__main__":
    clone_path = r"C:\Users\Soujanya\Downloads\PhonePe\data\map\user\hover\country\india"
    years = ["2018", "2019", "2020", "2021", "2022"]
    
    json_files_list = []

    # Fetch all state directories within the "state" subdirectory
    state_directories = os.listdir(os.path.join(clone_path, "state"))

    for state in state_directories:
        state_path = os.path.join(clone_path, "state", state)
        for year in years:
            year_path = os.path.join(state_path, year)
            json_files = find_all_json_files(year_path)
            json_files_list.extend((file_path, state, year) for file_path in json_files)

    all_data = []
    for file_path, state, year in json_files_list:
        parsed_data = parse_json_file(file_path, state, year)
        all_data.append(parsed_data)

    output_map_file = os.path.join(clone_path, "complete_map_user.json")
    with open(output_map_file, "w", encoding="utf-8") as json_output:
        json.dump(all_data, json_output, indent=4)

    print(f"Data saved to: {output_map_file}")

Data saved to: C:\Users\Soujanya\Downloads\PhonePe\data\map\user\hover\country\india\complete_map_user.json

In [20]:
import os
import json

def find_all_json_files(folder_path):
    json_files = []
    for root, _, files in os.walk(folder_path):
        for file_name in files:
            if file_name.endswith(".json"):
                file_path = os.path.join(root, file_name)
                json_files.append(file_path)
    return json_files

def parse_json_file(file_path, state, year=None):
    with open(file_path, "r", encoding="utf-8") as json_file:
        data = json.load(json_file)
    data["state"] = state
    if year is not None:
        data["year"] = year
    return data

if __name__ == "__main__":
    clone_path = r"C:\Users\Soujanya\Downloads\PhonePe\data\map\transaction\hover\country\india"
    years = ["2018", "2019", "2020", "2021", "2022"]
    
    json_files_list = []

    # Fetch all state directories within the "state" subdirectory
    state_directories = os.listdir(os.path.join(clone_path, "state"))

    for state in state_directories:
        state_path = os.path.join(clone_path, "state", state)
        for year in years:
            year_path = os.path.join(state_path, year)
            json_files = find_all_json_files(year_path)
            json_files_list.extend((file_path, state, year) for file_path in json_files)

    all_data = []
    for file_path, state, year in json_files_list:
        parsed_data = parse_json_file(file_path, state, year)
        all_data.append(parsed_data)

    output_map_file = os.path.join(clone_path, "complete_map_trans.json")
    with open(output_map_file, "w", encoding="utf-8") as json_output:
        json.dump(all_data, json_output, indent=4)

    print(f"Data saved to: {output_map_file}")

Data saved to: C:\Users\Soujanya\Downloads\PhonePe\data\map\transaction\hover\country\india\complete_map_trans.json

In [18]:
import os
import json

def find_all_json_files(folder_path):
    json_files = []
    for root, _, files in os.walk(folder_path):
        for file_name in files:
            if file_name.endswith(".json"):
                file_path = os.path.join(root, file_name)
                json_files.append(file_path)
    return json_files

def parse_json_file(file_path, state, year=None):
    with open(file_path, "r", encoding="utf-8") as json_file:
        data = json.load(json_file)
    data["state"] = state
    if year is not None:
        data["year"] = year
    return data

if __name__ == "__main__":
    clone_path = r"C:\Users\Soujanya\Downloads\PhonePe\data\top\user\country\india"
    years = ["2018", "2019", "2020", "2021", "2022"]
    
    json_files_list = []

    # Fetch all state directories within the "state" subdirectory
    state_directories = os.listdir(os.path.join(clone_path, "state"))

    for state in state_directories:
        state_path = os.path.join(clone_path, "state", state)
        for year in years:
            year_path = os.path.join(state_path, year)
            json_files = find_all_json_files(year_path)
            json_files_list.extend((file_path, state, year) for file_path in json_files)

    all_data = []
    for file_path, state, year in json_files_list:
        parsed_data = parse_json_file(file_path, state, year)
        all_data.append(parsed_data)

    output_top_file = os.path.join(clone_path, "complete_top_user.json")
    with open(output_top_file, "w", encoding="utf-8") as json_output:
        json.dump(all_data, json_output, indent=4)

    print(f"Data saved to: {output_top_file}")

Data saved to: C:\Users\Soujanya\Downloads\PhonePe\data\top\user\country\india\complete_top_user.json

In [19]:
import os
import json

def find_all_json_files(folder_path):
    json_files = []
    for root, _, files in os.walk(folder_path):
        for file_name in files:
            if file_name.endswith(".json"):
                file_path = os.path.join(root, file_name)
                json_files.append(file_path)
    return json_files

def parse_json_file(file_path, state, year=None):
    with open(file_path, "r", encoding="utf-8") as json_file:
        data = json.load(json_file)
    data["state"] = state
    if year is not None:
        data["year"] = year
    return data

if __name__ == "__main__":
    clone_path = r"C:\Users\Soujanya\Downloads\PhonePe\data\top\transaction\country\india"
    years = ["2018", "2019", "2020", "2021", "2022"]
    
    json_files_list = []

    # Fetch all state directories within the "state" subdirectory
    state_directories = os.listdir(os.path.join(clone_path, "state"))

    for state in state_directories:
        state_path = os.path.join(clone_path, "state", state)
        for year in years:
            year_path = os.path.join(state_path, year)
            json_files = find_all_json_files(year_path)
            json_files_list.extend((file_path, state, year) for file_path in json_files)

    all_data = []
    for file_path, state, year in json_files_list:
        parsed_data = parse_json_file(file_path, state, year)
        all_data.append(parsed_data)

    output_top_file = os.path.join(clone_path, "complete_top_trans.json")
    with open(output_top_file, "w", encoding="utf-8") as json_output:
        json.dump(all_data, json_output, indent=4)

    print(f"Data saved to: {output_top_file}")

Data saved to: C:\Users\Soujanya\Downloads\PhonePe\data\top\transaction\country\india\complete_top_trans.json

In [32]:
import pandas as pd
import json

# Load the JSON data from the file
with open(r"C:\Users\Soujanya\Downloads\PhonePe\data\aggregated\transaction\country\india\complete_aggregated_trans.json", "r", encoding="utf-8") as json_file:
    data_list = json.load(json_file)

# Initialize lists to store extracted data
districts_data_list = []
pincodes_data_list = []

# Iterate through each entry in the main list
for entry in data_list:
    districts_data = entry.get("data", {}).get("districts", [])
    pincodes_data = entry.get("data", {}).get("pincodes", [])
    state = entry.get("state")
    year = entry.get("year")

    for district in districts_data:
        district_entity_name=district.get("entityName")
        district_data["Entity Name"]=district_entity_name
        district_data=district.get("metric",{})
        district_data["State"] = state
        district_data["Year"] = year
        districts_data_list.append(district_data)
    
    for pincode in pincodes_data:
        pincode_entity_name=pincode.get("entityName")
        pincode_data["Entity Name"]=pincode_entity_name
        pincode_data=pincode.get("metric",{})
        pincode_data["State"] = state
        pincode_data["Year"] = year
        pincodes_data_list.append(pincode_data)

# Create DataFrame for districts
districts_df = pd.DataFrame(districts_data_list)

# Create DataFrame for pincodes
pincodes_df = pd.DataFrame(pincodes_data_list)

# Display the DataFrames
print("Districts DataFrame:")
print(districts_df)

print("\nPincodes DataFrame:")
print(pincodes_df)

Districts DataFrame:
       type     count        amount                      State  Year  \
0     TOTAL      5688  1.256025e+07  andaman-&-nicobar-islands  2018
1     TOTAL       528  1.139849e+06  andaman-&-nicobar-islands  2018
2     TOTAL       442  9.316631e+05  andaman-&-nicobar-islands  2018
3     TOTAL      9395  2.394824e+07  andaman-&-nicobar-islands  2018
4     TOTAL      1120  3.072437e+06  andaman-&-nicobar-islands  2018
...     ...       ...           ...                        ...   ...
5915  TOTAL  15651650  3.373698e+10                west-bengal  2022
5916  TOTAL  14484229  3.309949e+10                west-bengal  2022
5917  TOTAL  13931352  2.755409e+10                west-bengal  2022
5918  TOTAL  13350090  2.793786e+10                west-bengal  2022
5919  TOTAL  12768161  2.521681e+10                west-bengal  2022

                   Entity Name
0                     nicobars
1     north and middle andaman
2                south andaman
3                     nicobars
4     north and middle andaman
...                        ...
5915           purba medinipur
5916                   hooghly
5917                    howrah
5918         paschim medinipur
5919                       NaN

[5920 rows x 6 columns]

Pincodes DataFrame:
       type    count        amount                      State  Year  \
0     TOTAL     1622  2.769298e+06  andaman-&-nicobar-islands  2018
1     TOTAL     1223  2.238042e+06  andaman-&-nicobar-islands  2018
2     TOTAL      969  3.519060e+06  andaman-&-nicobar-islands  2018
3     TOTAL      685  1.298561e+06  andaman-&-nicobar-islands  2018
4     TOTAL      340  1.039715e+06  andaman-&-nicobar-islands  2018
...     ...      ...           ...                        ...   ...
7134  TOTAL  2900058  5.748321e+09                west-bengal  2022
7135  TOTAL  2471048  3.527457e+09                west-bengal  2022
7136  TOTAL  2407008  5.052109e+09                west-bengal  2022
7137  TOTAL  2348447  2.176640e+09                west-bengal  2022
7138  TOTAL  1765314  4.048329e+09                west-bengal  2022

     Entity Name
0         744103
1         744102
2         744105
3         744104
4         744107
...          ...
7134      700135
7135      732101
7136      700091
7137      711101
7138         NaN

[7139 rows x 6 columns]

In [98]:
import pandas as pd
import json

# Load the JSON data from the file
with open(r"C:\Users\Soujanya\Downloads\PhonePe\data\aggregated\transaction\country\india\complete_aggregated_trans.json", "r", encoding="utf-8") as json_file:
    data_list = json.load(json_file)

# Initialize lists to store extracted data
districts_data_list = []
pincodes_data_list = []

# Iterate through each entry in the main list
for entry in data_list:
    districts_data = entry.get("data", {}).get("districts", [])
    pincodes_data = entry.get("data", {}).get("pincodes", [])
    state = entry.get("state")
    year = entry.get("year")

    for district in districts_data:
        district_entity_name = district.get("entityName")
        district_data = {
            "Entity Name": district_entity_name,
            "State": state,
            "Year": year
        }
        district_data.update(district.get("metric", {}))
        districts_data_list.append(district_data)
    
    for pincode in pincodes_data:
        pincode_entity_name = pincode.get("entityName")
        pincode_data = {
            "Pincode": pincode_entity_name,
            "State": state,
            "Year": year
        }
        pincode_data.update(pincode.get("metric", {}))
        pincodes_data_list.append(pincode_data)

# Create DataFrame for districts
districts_df = pd.DataFrame(districts_data_list)

# Create DataFrame for pincodes
pincodes_df = pd.DataFrame(pincodes_data_list)

# Display the DataFrames
print("Districts DataFrame:")
print(districts_df)

print("\nPincodes DataFrame:")
print(pincodes_df)

Districts DataFrame:
                     Entity Name                      State  Year   type  \
0                  south andaman  andaman-&-nicobar-islands  2018  TOTAL
1                       nicobars  andaman-&-nicobar-islands  2018  TOTAL
2       north and middle andaman  andaman-&-nicobar-islands  2018  TOTAL
3                  south andaman  andaman-&-nicobar-islands  2018  TOTAL
4                       nicobars  andaman-&-nicobar-islands  2018  TOTAL
...                          ...                        ...   ...    ...
5915  south twenty four parganas                west-bengal  2022  TOTAL
5916             purba medinipur                west-bengal  2022  TOTAL
5917                     hooghly                west-bengal  2022  TOTAL
5918                      howrah                west-bengal  2022  TOTAL
5919           paschim medinipur                west-bengal  2022  TOTAL

         count        amount
0         5688  1.256025e+07
1          528  1.139849e+06
2          442  9.316631e+05
3         9395  2.394824e+07
4         1120  3.072437e+06
...        ...           ...
5915  15651650  3.373698e+10
5916  14484229  3.309949e+10
5917  13931352  2.755409e+10
5918  13350090  2.793786e+10
5919  12768161  2.521681e+10

[5920 rows x 6 columns]

Pincodes DataFrame:
     Pincode                      State  Year   type    count        amount
0     744101  andaman-&-nicobar-islands  2018  TOTAL     1622  2.769298e+06
1     744103  andaman-&-nicobar-islands  2018  TOTAL     1223  2.238042e+06
2     744102  andaman-&-nicobar-islands  2018  TOTAL      969  3.519060e+06
3     744105  andaman-&-nicobar-islands  2018  TOTAL      685  1.298561e+06
4     744104  andaman-&-nicobar-islands  2018  TOTAL      340  1.039715e+06
...      ...                        ...   ...    ...      ...           ...
7134  722101                west-bengal  2022  TOTAL  2900058  5.748321e+09
7135  700135                west-bengal  2022  TOTAL  2471048  3.527457e+09
7136  732101                west-bengal  2022  TOTAL  2407008  5.052109e+09
7137  700091                west-bengal  2022  TOTAL  2348447  2.176640e+09
7138  711101                west-bengal  2022  TOTAL  1765314  4.048329e+09

[7139 rows x 6 columns]

In [36]:
import pandas as pd
import json

# Load the JSON data from the file
with open(r"C:\Users\Soujanya\Downloads\PhonePe\data\map\transaction\hover\country\india\complete_map_trans.json", "r", encoding="utf-8") as json_file:
    data_list = json.load(json_file)

# Initialize a list to store extracted data
hover_data_list = []

# Iterate through each entry in the main list
for entry in data_list:
    hoverslist_data = entry.get("data", {}).get("hoverDataList", [])
    state = entry.get("state")
    year = entry.get("year")

    for hover in hoverslist_data:
        hover_entity_name = hover.get("name")
        hover_metric = hover.get("metric", [{}])[0]
        hover_metric["Entity Name"] = hover_entity_name
        hover_metric["State"] = state
        hover_metric["Year"] = year
        hover_data_list.append(hover_metric)

# Create DataFrame for hover data
hoversdatalist_df = pd.DataFrame(hover_data_list)

# Display the DataFrame
print("HoverDataList DataFrame:")
print(hoversdatalist_df)

HoverDataList DataFrame:
        type     count        amount                        Entity Name  \
0      TOTAL       442  9.316631e+05  north and middle andaman district
1      TOTAL      5688  1.256025e+07             south andaman district
2      TOTAL       528  1.139849e+06                  nicobars district
3      TOTAL       825  1.317863e+06  north and middle andaman district
4      TOTAL      9395  2.394824e+07             south andaman district
...      ...       ...           ...                                ...
14631  TOTAL  12690126  2.804568e+10                     nadia district
14632  TOTAL   7617444  1.614650e+10                   birbhum district
14633  TOTAL  14484229  3.309949e+10           purba medinipur district
14634  TOTAL  12492746  2.721861e+10                    maldah district
14635  TOTAL   8827502  1.801650e+10                 darjiling district

                           State  Year
0      andaman-&-nicobar-islands  2018
1      andaman-&-nicobar-islands  2018
2      andaman-&-nicobar-islands  2018
3      andaman-&-nicobar-islands  2018
4      andaman-&-nicobar-islands  2018
...                          ...   ...
14631                west-bengal  2022
14632                west-bengal  2022
14633                west-bengal  2022
14634                west-bengal  2022
14635                west-bengal  2022

[14636 rows x 6 columns]

In [115]:
import pandas as pd
import json

# Load the JSON data from the file
with open(r"C:\Users\Soujanya\Downloads\PhonePe\data\top\transaction\country\india\complete_top_trans.json", "r", encoding="utf-8") as json_file:
    data_list = json.load(json_file)

# Initialize lists to store extracted data
districts_data_list = []
pincodes_data_list = []

# Iterate through each entry in the main list
for entry in data_list:
    districts_data = entry.get("data", {}).get("districts", [])
    pincodes_data = entry.get("data", {}).get("pincodes", [])
    state = entry.get("state")
    year = entry.get("year")

    for district in districts_data:
        district_entity_name = district.get("entityName")
        district_data = {
            "DistrictName": district_entity_name,
            "State": state,
            "Year": year
        }
        district_data.update(district.get("metric", {}))
        districts_data_list.append(district_data)
    
    for pincode in pincodes_data:
        pincode_entity_name = pincode.get("entityName")
        pincode_data = {
            "Pincode": pincode_entity_name,
            "State": state,
            "Year": year
        }
        pincode_data.update(pincode.get("metric", {}))
        pincodes_data_list.append(pincode_data)

# Create DataFrame for districts
districtstoptrans_df = pd.DataFrame(districts_data_list)

# Create DataFrame for pincodes
pincodestoptrans_df = pd.DataFrame(pincodes_data_list)

# Display the DataFrames
print("Districts DataFrame:")
print(districtstoptrans_df)

print("\nPincodes DataFrame:")
print(pincodestoptrans_df)

Districts DataFrame:
                    DistrictName                      State  Year   type  \
0                  south andaman  andaman-&-nicobar-islands  2018  TOTAL
1                       nicobars  andaman-&-nicobar-islands  2018  TOTAL
2       north and middle andaman  andaman-&-nicobar-islands  2018  TOTAL
3                  south andaman  andaman-&-nicobar-islands  2018  TOTAL
4                       nicobars  andaman-&-nicobar-islands  2018  TOTAL
...                          ...                        ...   ...    ...
5915  south twenty four parganas                west-bengal  2022  TOTAL
5916             purba medinipur                west-bengal  2022  TOTAL
5917                     hooghly                west-bengal  2022  TOTAL
5918                      howrah                west-bengal  2022  TOTAL
5919           paschim medinipur                west-bengal  2022  TOTAL

         count        amount
0         5688  1.256025e+07
1          528  1.139849e+06
2          442  9.316631e+05
3         9395  2.394824e+07
4         1120  3.072437e+06
...        ...           ...
5915  15651650  3.373698e+10
5916  14484229  3.309949e+10
5917  13931352  2.755409e+10
5918  13350090  2.793786e+10
5919  12768161  2.521681e+10

[5920 rows x 6 columns]

Pincodes DataFrame:
     Pincode                      State  Year   type    count        amount
0     744101  andaman-&-nicobar-islands  2018  TOTAL     1622  2.769298e+06
1     744103  andaman-&-nicobar-islands  2018  TOTAL     1223  2.238042e+06
2     744102  andaman-&-nicobar-islands  2018  TOTAL      969  3.519060e+06
3     744105  andaman-&-nicobar-islands  2018  TOTAL      685  1.298561e+06
4     744104  andaman-&-nicobar-islands  2018  TOTAL      340  1.039715e+06
...      ...                        ...   ...    ...      ...           ...
7134  722101                west-bengal  2022  TOTAL  2900058  5.748321e+09
7135  700135                west-bengal  2022  TOTAL  2471048  3.527457e+09
7136  732101                west-bengal  2022  TOTAL  2407008  5.052109e+09
7137  700091                west-bengal  2022  TOTAL  2348447  2.176640e+09
7138  711101                west-bengal  2022  TOTAL  1765314  4.048329e+09

[7139 rows x 6 columns]

In [90]:
import pandas as pd
import json

# Load the JSON data from the file
with open(r"C:\Users\Soujanya\Downloads\PhonePe\data\map\user\hover\country\india\complete_map_user.json", "r", encoding="utf-8") as json_file:
    data_list = json.load(json_file)

# Initialize lists to store extracted data
hover_data_list = []

# Iterate through each entry in the main list
for entry in data_list:
    hover_data = entry.get("data", {}).get("hoverData", {})
    state = entry.get("state")
    year = entry.get("year")

    for entity, entity_data in hover_data.items():
        entity_data["Entity Name"] = entity
        entity_data["State"] = state
        entity_data["Year"] = year
        hover_data_list.append(entity_data)

# Create DataFrame for hover data
hover_df = pd.DataFrame(hover_data_list)

# Display the DataFrame
print("Hover Data DataFrame:")
print(hover_df)

Hover Data DataFrame:
       registeredUsers  appOpens                        Entity Name  \
0                  632         0  north and middle andaman district
1                 5846         0             south andaman district
2                  262         0                  nicobars district
3                  911         0  north and middle andaman district
4                 8143         0             south andaman district
...                ...       ...                                ...
14635          1359420  33853990                     nadia district
14636           855236  20950662                   birbhum district
14637          1346908  38278506           purba medinipur district
14638           954892  29023743                    maldah district
14639           564562  15982631                 darjiling district

                           State  Year
0      andaman-&-nicobar-islands  2018
1      andaman-&-nicobar-islands  2018
2      andaman-&-nicobar-islands  2018
3      andaman-&-nicobar-islands  2018
4      andaman-&-nicobar-islands  2018
...                          ...   ...
14635                west-bengal  2022
14636                west-bengal  2022
14637                west-bengal  2022
14638                west-bengal  2022
14639                west-bengal  2022

[14640 rows x 5 columns]

In [92]:
import pandas as pd
import json

# Load the JSON data from the file
with open(r"C:\Users\Soujanya\Downloads\PhonePe\data\top\user\country\india\complete_top_user.json", "r", encoding="utf-8") as json_file:
    data_list = json.load(json_file)

# Initialize lists to store extracted data
districts_data_list = []
pincodes_data_list = []

# Iterate through each entry in the main list
for entry in data_list:
    districts_data = entry.get("data", {}).get("districts", [])
    pincodes_data = entry.get("data", {}).get("pincodes", [])
    state = entry.get("state")
    year = entry.get("year")

    # Create DataFrame for districts
    for district in districts_data:
        district_name = district.get("name")
        district_registered_users = district.get("registeredUsers")
        districts_data_list.append({
            "District": district_name,
            "Registered Users": district_registered_users,
            "State": state,
            "Year": year
        })

    # Create DataFrame for pincodes
    for pincode in pincodes_data:
        pincode_name = pincode.get("name")
        pincode_registered_users = pincode.get("registeredUsers")
        pincodes_data_list.append({
            "Pincode": pincode_name,
            "Registered Users": pincode_registered_users,
            "State": state,
            "Year": year
        })

# Create DataFrame for districts
districtstop_df = pd.DataFrame(districts_data_list)

# Create DataFrame for pincodes
pincodestop_df = pd.DataFrame(pincodes_data_list)

# Display the DataFrames
print("Districts DataFrame:")
print(districtstop_df)

print("\nPincodes DataFrame:")
print(pincodestop_df)

Districts DataFrame:
                      District  Registered Users                      State  \
0                south andaman              5846  andaman-&-nicobar-islands
1     north and middle andaman               632  andaman-&-nicobar-islands
2                     nicobars               262  andaman-&-nicobar-islands
3                south andaman              8143  andaman-&-nicobar-islands
4     north and middle andaman               911  andaman-&-nicobar-islands
...                        ...               ...                        ...
5915                    howrah           1422011                west-bengal
5916                     nadia           1359420                west-bengal
5917           purba medinipur           1346908                west-bengal
5918         paschim medinipur           1217113                west-bengal
5919           purba bardhaman           1119310                west-bengal

      Year
0     2018
1     2018
2     2018
3     2018
4     2018
...    ...
5915  2022
5916  2022
5917  2022
5918  2022
5919  2022

[5920 rows x 4 columns]

Pincodes DataFrame:
     Pincode  Registered Users                      State  Year
0     744103              1608  andaman-&-nicobar-islands  2018
1     744101              1108  andaman-&-nicobar-islands  2018
2     744105              1075  andaman-&-nicobar-islands  2018
3     744102              1006  andaman-&-nicobar-islands  2018
4     744104               272  andaman-&-nicobar-islands  2018
...      ...               ...                        ...   ...
7135  700015            108457                west-bengal  2022
7136  742304            105471                west-bengal  2022
7137  721101            105279                west-bengal  2022
7138  700091            102363                west-bengal  2022
7139  700150            101966                west-bengal  2022

[7140 rows x 4 columns]

In [54]:
import pandas as pd
import json

# Load the JSON data from the file
with open(r"C:\Users\Soujanya\Downloads\PhonePe\data\aggregated\user\country\india\complete_aggregated_user.json", "r", encoding="utf-8") as json_file:
    data_list = json.load(json_file)

# Initialize lists to store extracted data
aggregated_data_list = []
users_by_device_data_list = []

# Iterate through each entry in the main list
for entry in data_list:
    aggregated_data = entry.get("data", {}).get("aggregated", {})
    users_by_device_data = entry.get("data", {}).get("usersByDevice", [])
    state = entry.get("state")
    year = entry.get("year")

    # Create DataFrame for aggregated data
    aggregated_data_list.append({
        "Registered Users": aggregated_data.get("registeredUsers"),
        "App Opens": aggregated_data.get("appOpens"),
        "State": state,
        "Year": year
    })

    # Create DataFrame for usersByDevice data
    if users_by_device_data is not None:
        for device in users_by_device_data:
            brand = device.get("brand")
            count = device.get("count")
            percentage = device.get("percentage")
            users_by_device_data_list.append({
            "Brand": brand,
            "Count": count,
            "Percentage": percentage,
            "State": state,
            "Year": year
        })

# Create DataFrames
aggregated_df = pd.DataFrame(aggregated_data_list)
users_by_device_df = pd.DataFrame(users_by_device_data_list)

# Display the DataFrames
print("Aggregated DataFrame:")
print(aggregated_df)

print("\nUsers By Device DataFrame:")
print(users_by_device_df)

aggregated_df.to_csv("cleaned_aggregated.csv", index=False)
users_by_device_df.to_csv("cleaned_users_by_device.csv",index=False)

Aggregated DataFrame:
     Registered Users  App Opens                      State  Year
0                6740          0  andaman-&-nicobar-islands  2018
1                9405          0  andaman-&-nicobar-islands  2018
2               12149          0  andaman-&-nicobar-islands  2018
3               15222          0  andaman-&-nicobar-islands  2018
4               18596          0  andaman-&-nicobar-islands  2019
..                ...        ...                        ...   ...
715          20644527  512335839                west-bengal  2021
716          21919787  236131065                west-bengal  2022
717          23124388  250276369                west-bengal  2022
718          24372048  256445748                west-bengal  2022
719          25536381  678066327                west-bengal  2022

[720 rows x 4 columns]

Users By Device DataFrame:
        Brand    Count  Percentage                      State  Year
0      Xiaomi     1665    0.247033  andaman-&-nicobar-islands  2018
1     Samsung     1445    0.214392  andaman-&-nicobar-islands  2018
2        Vivo      982    0.145697  andaman-&-nicobar-islands  2018
3        Oppo      501    0.074332  andaman-&-nicobar-islands  2018
4     OnePlus      332    0.049258  andaman-&-nicobar-islands  2018
...       ...      ...         ...                        ...   ...
6727   Lenovo   330017    0.015056                west-bengal  2022
6728  Infinix   284678    0.012987                west-bengal  2022
6729     Asus   280347    0.012790                west-bengal  2022
6730    Apple   277752    0.012671                west-bengal  2022
6731   Others  2196334    0.100199                west-bengal  2022

[6732 rows x 5 columns]

In [46]:
import pandas as pd
import sklearn

aggregated_df = pd.DataFrame(aggregated_df)
districts_df = pd.DataFrame(districts_df)
pincodes_df = pd.DataFrame(pincodes_df)
users_by_device_df = pd.DataFrame(users_by_device_df)
hover_df = pd.DataFrame(hover_df)
hoversdatalist_df = pd.DataFrame(hoversdatalist_df)

# 1. Handling Missing Values
# Check for missing values and fill or drop them based on your analysis 
districts_df.fillna(0,inplace=True)
pincodes_df.fillna(0,inplace=True)
aggregated_df.fillna(0,inplace=True)
users_by_device_df.fillna(0,inplace=True)
hoversdatalist_df.fillna(0,inplace=True)
hover_df.fillna(0,inplace=True)

# Print the processed DataFrames
print("Processed aggregated Dataframe:")
print(aggregated_df)

print("\nProcessed Districts Dataframe:")
print(districts_df)

print("\nProcessed Pincodes Dataframe:")
print(pincodes_df)

print("\nProcessed UsersByDevice Dataframe:")
print(users_by_device_df)

print("\nProcessed Hover Dataframe:")
print(hover_df)

print("\nProcessed HoverDataList Dataframe:")
print(hoversdatalist_df)

Processed aggregated Dataframe:
     Registered Users  App Opens                      State  Year
0                6740          0  andaman-&-nicobar-islands  2018
1                9405          0  andaman-&-nicobar-islands  2018
2               12149          0  andaman-&-nicobar-islands  2018
3               15222          0  andaman-&-nicobar-islands  2018
4               18596          0  andaman-&-nicobar-islands  2019
..                ...        ...                        ...   ...
715          20644527  512335839                west-bengal  2021
716          21919787  236131065                west-bengal  2022
717          23124388  250276369                west-bengal  2022
718          24372048  256445748                west-bengal  2022
719          25536381  678066327                west-bengal  2022

[720 rows x 4 columns]

Processed Districts Dataframe:
                      District  Registered Users                      State  \
0                south andaman              5846  andaman-&-nicobar-islands
1     north and middle andaman               632  andaman-&-nicobar-islands
2                     nicobars               262  andaman-&-nicobar-islands
3                south andaman              8143  andaman-&-nicobar-islands
4     north and middle andaman               911  andaman-&-nicobar-islands
...                        ...               ...                        ...
5915                    howrah           1422011                west-bengal
5916                     nadia           1359420                west-bengal
5917           purba medinipur           1346908                west-bengal
5918         paschim medinipur           1217113                west-bengal
5919           purba bardhaman           1119310                west-bengal

      Year
0     2018
1     2018
2     2018
3     2018
4     2018
...    ...
5915  2022
5916  2022
5917  2022
5918  2022
5919  2022

[5920 rows x 4 columns]

Processed Pincodes Dataframe:
     Pincode  Registered Users                      State  Year
0     744103              1608  andaman-&-nicobar-islands  2018
1     744101              1108  andaman-&-nicobar-islands  2018
2     744105              1075  andaman-&-nicobar-islands  2018
3     744102              1006  andaman-&-nicobar-islands  2018
4     744104               272  andaman-&-nicobar-islands  2018
...      ...               ...                        ...   ...
7135  700015            108457                west-bengal  2022
7136  742304            105471                west-bengal  2022
7137  721101            105279                west-bengal  2022
7138  700091            102363                west-bengal  2022
7139  700150            101966                west-bengal  2022

[7140 rows x 4 columns]

Processed UsersByDevice Dataframe:
        Brand    Count  Percentage                      State  Year
0      Xiaomi     1665    0.247033  andaman-&-nicobar-islands  2018
1     Samsung     1445    0.214392  andaman-&-nicobar-islands  2018
2        Vivo      982    0.145697  andaman-&-nicobar-islands  2018
3        Oppo      501    0.074332  andaman-&-nicobar-islands  2018
4     OnePlus      332    0.049258  andaman-&-nicobar-islands  2018
...       ...      ...         ...                        ...   ...
6727   Lenovo   330017    0.015056                west-bengal  2022
6728  Infinix   284678    0.012987                west-bengal  2022
6729     Asus   280347    0.012790                west-bengal  2022
6730    Apple   277752    0.012671                west-bengal  2022
6731   Others  2196334    0.100199                west-bengal  2022

[6732 rows x 5 columns]

Processed Hover Dataframe:
       registeredUsers  appOpens                        Entity Name  \
0                  632         0  north and middle andaman district
1                 5846         0             south andaman district
2                  262         0                  nicobars district
3                  911         0  north and middle andaman district
4                 8143         0             south andaman district
...                ...       ...                                ...
14635          1359420  33853990                     nadia district
14636           855236  20950662                   birbhum district
14637          1346908  38278506           purba medinipur district
14638           954892  29023743                    maldah district
14639           564562  15982631                 darjiling district

                           State  Year
0      andaman-&-nicobar-islands  2018
1      andaman-&-nicobar-islands  2018
2      andaman-&-nicobar-islands  2018
3      andaman-&-nicobar-islands  2018
4      andaman-&-nicobar-islands  2018
...                          ...   ...
14635                west-bengal  2022
14636                west-bengal  2022
14637                west-bengal  2022
14638                west-bengal  2022
14639                west-bengal  2022

[14640 rows x 5 columns]

Processed HoverDataList Dataframe:
        type     count        amount                        Entity Name  \
0      TOTAL       442  9.316631e+05  north and middle andaman district
1      TOTAL      5688  1.256025e+07             south andaman district
2      TOTAL       528  1.139849e+06                  nicobars district
3      TOTAL       825  1.317863e+06  north and middle andaman district
4      TOTAL      9395  2.394824e+07             south andaman district
...      ...       ...           ...                                ...
14631  TOTAL  12690126  2.804568e+10                     nadia district
14632  TOTAL   7617444  1.614650e+10                   birbhum district
14633  TOTAL  14484229  3.309949e+10           purba medinipur district
14634  TOTAL  12492746  2.721861e+10                    maldah district
14635  TOTAL   8827502  1.801650e+10                 darjiling district

                           State  Year
0      andaman-&-nicobar-islands  2018
1      andaman-&-nicobar-islands  2018
2      andaman-&-nicobar-islands  2018
3      andaman-&-nicobar-islands  2018
4      andaman-&-nicobar-islands  2018
...                          ...   ...
14631                west-bengal  2022
14632                west-bengal  2022
14633                west-bengal  2022
14634                west-bengal  2022
14635                west-bengal  2022

[14636 rows x 6 columns]

In [47]:
pip install pandas sqlalchemy pymysql

Requirement already satisfied: pandas in c:\users\soujanya\appdata\local\programs\python\python311\lib\site-packages (2.0.2)
Requirement already satisfied: sqlalchemy in c:\users\soujanya\appdata\local\programs\python\python311\lib\site-packages (2.0.17)
Requirement already satisfied: pymysql in c:\users\soujanya\appdata\local\programs\python\python311\lib\site-packages (1.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\soujanya\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\soujanya\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\soujanya\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\soujanya\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\soujanya\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\soujanya\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (2.0.2)
Requirement already satisfied: six>=1.5 in c:\users\soujanya\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [72]:
import pandas as pd
import mysql.connector

mysql_host = 'localhost'
mysql_user = 'root'
mysql_password = 'Ammu@2397'
mysql_database = 'aggregatedf'

# Connect to the MySQL database
conn = mysql.connector.connect(host=mysql_host, user=mysql_user, password=mysql_password, database=mysql_database)
cursor = conn.cursor()

# Create tables for the DataFrames
aggregated_table_query = """
CREATE TABLE aggregated (
    Registered Users INT,
    App Opens BIGINT,
    State VARCHAR(255),
    Year INT
);
"""

users_by_device_table_query = """
CREATE TABLE users_by_device (
    Brand VARCHAR(255),
    Count INT,
    Percentage FLOAT,
    State VARCHAR(255),
    Year INT
);
"""
aggregated_df = pd.DataFrame(aggregated_df)  
user_by_device_df = pd.DataFrame(users_by_device_df)

scaling_factor = 1000000  # Choose an appropriate scaling factor
for index, row in aggregated_df.iterrows():
    scaled_app_opens = int(row['App Opens'] / scaling_factor)  # Convert to integer after scaling
    insert_query = f"""
        INSERT INTO aggregated (RegisteredUsers, AppOpens, State, Year)
        VALUES ({row['Registered Users']}, {scaled_app_opens}, '{row['State']}', {row['Year']})
    """
    cursor.execute(insert_query)
    conn.commit()

for index, row in users_by_device_df.iterrows():
    insert_query = f"""
        INSERT INTO users_by_device (Brand, Count, Percentage, State, Year)
        VALUES ('{row['Brand']}', {row['Count']}, {row['Percentage']}, '{row['State']}', {row['Year']})
    """
    cursor.execute(insert_query)
    conn.commit()

# Close the connection
cursor.close()
conn.close()

print("Data inserted into the MySQL tables.")

Data inserted into the MySQL tables.

In [91]:
import pandas as pd
import mysql.connector

mysql_host = 'localhost'
mysql_user = 'root'
mysql_password = 'Ammu@2397'
mysql_database = 'mapsdf'

# Connect to the MySQL database
conn = mysql.connector.connect(host=mysql_host, user=mysql_user, password=mysql_password, database=mysql_database)
cursor = conn.cursor()

# Create the hoverstable (if not already created)
create_hoverstable_query = """
    CREATE TABLE IF NOT EXISTS hoverstable (
        `Entity Name` VARCHAR(100),
        `type` VARCHAR(100),
        `count` BIGINT,
        `amount` BIGINT,
        `State` VARCHAR(255),
        `Year` INT
    )
"""
cursor.execute(create_hoverstable_query)
conn.commit()

# Create the hoversdatatable (if not already created)
create_hoversdatatable_query = """
     CREATE TABLE IF NOT EXISTS hoversdatatable (
         `registeredUsers` INT,
         `appOpens` BIGINT,
         `Entity Name` VARCHAR(100),
         `State` VARCHAR(255),
         `Year` INT
     )
"""
cursor.execute(create_hoversdatatable_query)
conn.commit()

# Insert data into hoverstable
for index, row in hoversdatalist_df.iterrows():
    insert_query = f"""
        INSERT INTO hoverstable (`Entity Name`, `type`, `count`, `amount`, `State`, `Year`)
        VALUES ('{row['Entity Name']}', '{row['type']}', {row['count']}, {row['amount']}, '{row['State']}', {row['Year']})
    """
    cursor.execute(insert_query)
    conn.commit()

# Insert data into hoversdatatable
scaling_factor = 1000000 
for index, row in hover_df.iterrows():
    scaled_app_opens = int(row['appOpens'] / scaling_factor)  # Convert to integer after scaling
    insert_query = f"""
        INSERT INTO hoversdatatable (`registeredUsers`, `appOpens`, `Entity Name`, `State`, `Year`)
        VALUES ({row['registeredUsers']}, {scaled_app_opens}, '{row['Entity Name']}','{row['State']}', {row['Year']})
    """
    cursor.execute(insert_query)
    conn.commit()

# Close the connection
cursor.close()
conn.close()

print("Data inserted into the MySQL tables.")

Data inserted into the MySQL tables.

In [100]:
import pandas as pd
import mysql.connector

mysql_host = 'localhost'
mysql_user = 'root'
mysql_password = 'Ammu@2397'
mysql_database = 'aggregatedf'

# Connect to the MySQL database
conn = mysql.connector.connect(host=mysql_host, user=mysql_user, password=mysql_password, database=mysql_database)
cursor = conn.cursor()

# Create the districts_table (if not already created)
create_districts_table_query = """
    CREATE TABLE IF NOT EXISTS districts_table (
        `Entity Name` VARCHAR(100),
        `State` VARCHAR(100),
        `Year` INT,
        `type` Varchar(100),
        `count` BIGINT,
        `amount` BIGINT
    )
"""
cursor.execute(create_districts_table_query)
conn.commit()

# Create the pincodes_table (if not already created)
create_pincodes_table_query = """
    CREATE TABLE IF NOT EXISTS pincodes_table (
        `Pincode` BIGINT,
        `State` VARCHAR(100),
        `Year` INT,
        `type` VARCHAR(100),
        `count` BIGINT,
        `amount` BIGINT
    )
"""
cursor.execute(create_pincodes_table_query)
conn.commit()

# Assuming you have your DataFrame named districts_df and pincodes_df
# Fill NaN values with 0
districts_df = districts_df.fillna(0)
pincodes_df = pincodes_df.fillna(0)

# Insert data into districts_table
for index, row in districts_df.iterrows():
    insert_query = f"""
        INSERT INTO districts_table (`Entity Name`, `State`, `Year`, `type`, `count`, `amount`)
        VALUES ('{row["Entity Name"]}', '{row["State"]}', {row["Year"]}, '{row["type"]}', {row["count"]}, {row["amount"]})
    """
    cursor.execute(insert_query)
    conn.commit()

# Insert data into pincodes_table
for index, row in pincodes_df.iterrows():
    insert_query = f"""
        INSERT INTO pincodes_table (`Pincode`, `State`, `Year`, `type`, `count`, `amount`)
        VALUES ({row["Pincode"]}, '{row["State"]}', {row["Year"]}, '{row["type"]}', {row["count"]}, {row["amount"]})
    """
    cursor.execute(insert_query)
    conn.commit()

# Close the connection
cursor.close()
conn.close()

print("Data inserted into the MySQL tables.")

Data inserted into the MySQL tables.

In [117]:
import pandas as pd
import mysql.connector

mysql_host = 'localhost'
mysql_user = 'root'
mysql_password = 'Ammu@2397'
mysql_database = 'topdf'

# Connect to the MySQL database
conn = mysql.connector.connect(host=mysql_host, user=mysql_user, password=mysql_password, database=mysql_database)
cursor = conn.cursor()

# Create the districts_table (if not already created)
create_districts_table_query = """
    CREATE TABLE IF NOT EXISTS districts_table (
        `District` VARCHAR(100),
        `State` VARCHAR(100),
        `Year` INT,
        `Registered Users` INT
    )
"""
cursor.execute(create_districts_table_query)
conn.commit()

# Create the pincodes_table (if not already created)
create_pincodes_table_query = """
    CREATE TABLE IF NOT EXISTS pincodes_table (
        `Pincode` BIGINT,
        `State` VARCHAR(100),
        `Year` INT,
        `Registered Users` INT
    )
"""
cursor.execute(create_pincodes_table_query)
conn.commit()

create_userpincodes_table_query = """
    CREATE TABLE IF NOT EXISTS userpincodes_table (
        `Pincode` BIGINT,
        `State` VARCHAR(100),
        `Year` INT,
        `type` VARCHAR(100),
        `count` BIGINT,
        `amount` BIGINT
    )
"""
cursor.execute(create_userpincodes_table_query)
conn.commit()

create_userdistricts_table_query = """
    CREATE TABLE IF NOT EXISTS userdistricts_table (
        `DistrictName` VARCHAR(100),
        `State` VARCHAR(100),
        `Year` INT,
        `type` VARCHAR(100),
        `count` BIGINT,
        `amount` BIGINT
    )
"""
cursor.execute(create_userdistricts_table_query)
conn.commit()

# Assuming you have your DataFrame named districts_df and pincodes_df
# Fill NaN values with 0
districtstop_df = districtstop_df.fillna(0)
pincodestop_df = pincodestop_df.fillna(0)
districtstoptrans_df = districtstoptrans_df.fillna(0)
pincodestoptrans_df = pincodestoptrans_df.fillna(0)

# Insert data into districts_table
for index, row in districtstop_df.iterrows():
    insert_query = f"""
        INSERT INTO districts_table (`District`, `State`, `Year`, `Registered Users`)
        VALUES ('{row["District"]}', '{row["State"]}', {row["Year"]}, {row["Registered Users"]})
    """
    cursor.execute(insert_query)
    conn.commit()

# Insert data into pincodes_table
for index, row in pincodestop_df.iterrows():
    insert_query = f"""
        INSERT INTO pincodes_table (`Pincode`, `State`, `Year`, `Registered Users`)
        VALUES ({row["Pincode"]}, '{row["State"]}', {row["Year"]}, {row["Registered Users"]})
    """
    cursor.execute(insert_query)
    conn.commit()

scaling_factor = 1000000
for index,row in districtstoptrans_df.iterrows():
    scaled_amount = int(row['amount'] / scaling_factor)  # Convert to integer after scaling
    insert_query = f"""
        INSERT INTO userdistricts_table (`DistrictName`, `State`, `Year`, `type`, `count`, `amount`)
        VALUES ('{row["DistrictName"]}', '{row["State"]}', {row["Year"]}, '{row["type"]}', {row["count"]}, {scaled_amount})
    """
    cursor.execute(insert_query)
    conn.commit()

scaling_factor = 1000000
for index,row in pincodestoptrans_df.iterrows():
    scaled_amount = int(row['amount'] / scaling_factor)
    insert_query = f"""
        INSERT INTO userpincodes_table (`Pincode`, `State`, `Year`, `type`, `count`, `amount`)
        VALUES ({row["Pincode"]}, '{row["State"]}', {row["Year"]}, '{row["type"]}', {row["count"]}, {scaled_amount})
    """
    cursor.execute(insert_query)
    conn.commit()

# Close the connection
cursor.close()
conn.close()

print("Data inserted into the MySQL tables.")

Data inserted into the MySQL tables.